@{
    ViewData["Title"] = "首頁";
}
<div data-page="home">
    <h1>工作日誌</h1>
    <div data-panel="add" class="panel panel-primary">
        <div class="panel-heading">新增</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-2">
                            日期<input class="form-control" data-field="date" />
                        </div>
                        <div class="col-sm-3">
                            專案<input class="form-control" data-field="project" list="projectSuggestions" />
                        </div>
                        <div class="col-sm-3">
                            工項<input class="form-control" data-field="workItem" list="workItemSuggestions" />
                        </div>
                        <div class="col-sm-2">
                            性質<input class="form-control" data-field="type" list="typeSuggestions" />
                        </div>
                        <div class="col-sm-2">
                            費時<input class="form-control" data-field="hours" type="number" value="1" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            詳細<textarea class="form-control" data-field="detail" style="resize:none"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    &nbsp;
                    <button class="btn btn-primary btn-block" data-action="add">新增</button>
                </div>
            </div>
        </div>
    </div>

    <table data-table="result" class="table">
        <thead>
            <tr>
                <th>日期</th>
                <th>專案</th>
                <th>工項</th>
                <th>性質</th>
                <th>費時</th>
                <th>詳細</th>
                <th>刪除</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <table class="hidden">
        <tbody data-template="row">
            <tr>
                <td data-field="date"></td>
                <td data-field="project"></td>
                <td data-field="workItem"></td>
                <td data-field="type"></td>
                <td data-field="hours"></td>
                <td data-field="detail"></td>
                <td><button data-action="delete" class="btn btn-danger">刪除</button></td>
            </tr>
        </tbody>
    </table>
    <datalist id="projectSuggestions"></datalist>
    <datalist id="typeSuggestions"></datalist>
    <datalist id="workItemSuggestions"></datalist>
</div>

@section Scripts{
    <script src="~/lib/lazy/lazy.min.js"></script>
    <script src="~/js/Home/Index.js"></script>
}
