@{
    ViewData["Title"] = "首頁";
}
<div data-page="home">
    <h1>工作日誌</h1>
    <div class="panel panel-primary">
        <div class="panel-heading">新增</div>
        <div class="panel-body">

        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>日期</th>
            <th>專案</th>
            <th>工項</th>
            <th>性質</th>
            <th>費時</th>
            <th>詳細</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <table class="hidden">
        <tbody>
        <tr>
            <td data-field="date"></td>
            <td data-field="project"></td>
            <td data-field="workItem"></td>
            <td data-field="type"></td>
            <td data-field="hours"></td>
            <td data-field="detail"></td>
        </tr>
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/Home/Index.js"></script>
}
